[project]
	description = RPC-Calculator Example Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Baris INANC (barisinanc)
[access "refs/for/refs/*"]
	read = group user/Baris INANC (barisinanc)
	push = group user/Baris INANC (barisinanc)
	label-Code-Review = -2..+2 group user/Baris INANC (barisinanc)
	label-Verified = -1..+1 group user/Baris INANC (barisinanc)
	rebase = group user/Baris INANC (barisinanc)
	removeReviewer = group user/Baris INANC (barisinanc)
	submit = group user/Baris INANC (barisinanc)
[access "refs/heads/*"]
	read = group user/Baris INANC (barisinanc)
	create = group user/Baris INANC (barisinanc)
	push = +force group user/Baris INANC (barisinanc)
	pushMerge = group user/Baris INANC (barisinanc)
[access "refs/tags/*"]
	push = +force group user/Baris INANC (barisinanc)
	pushTag = group user/Baris INANC (barisinanc)
	pushSignedTag = group user/Baris INANC (barisinanc)
